/*
body bevat header/nav met menu met kleuren
het menu verandert van opmaak bij hover
pagina's hebben 1 achtergrondkleur en elementen hun eigen kleur/stijl
elementen in body staan horizontaal in het midden van de webpagina
en hebben witruimte (marge) aan de linker- en rechterzijde
inhoud van de header, body en footer hebben minimaal 5px padding
verzendknop contactpagina verandert bij actieve staat
*/

body{
    background-color: rgba(81, 159, 161, 0.5);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body > *{
    background-color: rgba(48, 77, 172, 0.75);
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    box-sizing: border-box;
}

button{
    font-weight: bold;
}

button:active{
    background-color: pink;
}

button:hover{
    background-color: cyan;
}

#inleidingHome{
    float: left;
    width: 60%;
}

#foto{
    float: left;
    margin-left: -5px;
}

footer{
    float: left;
    position: absolute;
    bottom: 0;
    color: rgba(0,0,0,0.4);
}

#opleidingen{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

#werkervaring{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

table, td{
    border: 1px solid black;
}

caption{
    background-color: rgba(48, 77, 172, 0.75);
    font-style: italic;
}

form > *{
    display: block;
    margin: 5px;
}

label{
    font-weight: bold;
}

#boodschap{
    height: 300px;
    width: 500px;
}